@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url(main-header.css);
@import url(main-content.css);
@import url(caracters.css);
@import url(/assets/pages/vi.html);

:root {
    --branco: white;
    --titulo: 'Audiowide', cursive;
}

body {
    background: repeat url(../img/background-dark-grey-noise.jpg);
    color: var(--branco);
}