@import url(main-header.css);
@import url(main-content.css);
@import url(caracters.css);
@import url(/assets/pages/vi.html);

:root {
    --branco: white;
}

body {
    background: repeat url(../img/background-dark-grey-noise.jpg);
    color: var(--branco);
}