.main-content {
    display: flex;
    justify-content: space-around;
}

.banner-heimer{
    width: 40rem;
    align-self: center;
}

.wrap-trailer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

}

.wrap-trailer .description {
    width: 45rem;
    line-height: 2.5rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.span-trailer {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.wrap-trailer .trailer {
    width: 500px;
    height: 300px;
    align-self: center;
}