.main-header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
    align-items: center;
    border-bottom: 1px solid #99664d5D;
}

.main-logo {
    width: 6.25rem;
}

.main-menu {
    font-size: 25px;
    margin-left: 1.5rem;
}

.main-menu:first-child{
    margin-left: 0;
}

.main-menu:hover {
    text-decoration: underline;
}