.main-header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
    align-items: center;
    border-bottom: 1px solid #99664d5D;
}

.main-title {
    font-family: var(--titulo);
    font-size: 4rem;
    color: goldenrod;
    text-shadow: 3px 2px black;
}

.main-menu {
    font-size: 25px;
    margin-left: 1.5rem;
}

.main-menu:first-child{
    margin-left: 0;
}

.main-menu:hover {
    text-decoration: underline;
}