.main-header {
    padding: 1rem 1rem;
}

.main-nav{
    display: flex;
    justify-content: space-between;
}
.main-title {
    font-family: var(--titulo);
    font-size: 4rem;
    color: var(--amarelo);
    text-shadow: 3px 2px black;
}

.main-menu {
    font-size: 25px;
    margin-left: 1.5rem;
}

.main-menu:first-child{
    margin-left: 0;
}

.main-menu:hover {
    color: var(--amarelo);
}